{% extends 'base.html' %}
{% block title %}
    ABOUT
{% endblock %}
{% block content %}
### Hi there 👋<br>
# 💫 About Me:
Python Addict
<a href="https://github.com/falcon71181" target="blank"><img align="right" alt="GIF" height="160px" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" /></a>
<p align="left">
<br>
<a href="https://linkedin.com/in/abhay-thakur-73470b287" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="gautamkrishnar" height="30" width="40" /></a>
<a href="https://instagram.com/falcon71181" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="gautamkrishnar" height="30" width="40" /></a>
<img src='https://randommeme-five.vercel.app/' style="height: 400px;"/>



{% endblock %}